
.custom-snack-bar-row {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  height: 30px;
}

#progress-bar {
  position: absolute;
  left: 0;
  bottom: 0;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}

.snack-bar-message {
  display: inline-flex;
  align-items: center;
}

#action-button {
  height: 30px;
}
