<div class="container mt-4">
  <ng-container *ngIf="book">
    <mat-card>
      <mat-card-header>
        <mat-card-title>Change book details</mat-card-title>
      </mat-card-header>

      <mat-card-content>
        <form class="grid ps-3 pe-3">
          <div class="row">
            <div class="col col-6">
              <div class="row mb-4 mt-3">
                <div class="col">
                  <mat-form-field class="form-control__box">
                    <mat-label>Title</mat-label>
                    <input
                      type="text"
                      matInput
                      [formControl]="titleControl"
                      placeholder="Enter title"
                    />
                    <mat-error *ngIf="isTitleNotEntered">
                      Title is required!
                    </mat-error>
                    <mat-error
                      *ngIf="hasTitleIncorrectLength && !isTitleNotEntered"
                    >
                      Title name is too long!
                    </mat-error>
                  </mat-form-field>
                </div>
              </div>

              <div class="row mb-4">
                <div class="col">
                  <mat-form-field class="form-control__box">
                    <mat-label>Author</mat-label>
                    <input
                      type="text"
                      matInput
                      [formControl]="authorControl"
                      placeholder="Enter author name"
                    />
                    <mat-error *ngIf="isAuthorNotEntered">
                      Author is required!
                    </mat-error>
                    <mat-error
                      *ngIf="hasAuthorIncorrectLength && !isAuthorNotEntered"
                    >
                      Author name is too long!
                    </mat-error>
                  </mat-form-field>
                </div>
              </div>

              <div class="row mb-4">
                <div class="col col-lg-6">
                  <mat-form-field class="form-control__box">
                    <mat-label>Year</mat-label>
                    <input
                      type="number"
                      matInput
                      [formControl]="yearControl"
                      placeholder="Enter published year"
                    />
                    <mat-error *ngIf="isYearInInvalidIntervalTime">
                      Invalid year!
                    </mat-error>
                  </mat-form-field>
                </div>
              </div>
            </div>

            <div class="col col-6">
              <div class="row mt-3">
                <div class="col">
                  <mat-form-field class="form-control__box">
                    <mat-label>Description</mat-label>
                    <textarea
                      type="text"
                      matInput
                      cdkTextareaAutosize
                      cdkAutosizeMinRows="1"
                      cdkAutosizeMaxRows="12"
                      [formControl]="descriptionControl"
                      placeholder="Enter description"
                    ></textarea>
                    <mat-error *ngIf="hasDescriptionIncorrectLength">
                      Description is too long!
                    </mat-error>
                  </mat-form-field>
                </div>
              </div>
            </div>
          </div>
        </form>
      </mat-card-content>
    </mat-card>

    <div class="buttons">
      <button mat-raised-button (click)="handleCancelButton()">Cancel</button>
      <button
        mat-raised-button
        color="primary"
        [disabled]="!isFormValid"
        (click)="handleSaveButton()"
      >
        Save
      </button>
    </div>
  </ng-container>
</div>
